<?xml version="1.0" encoding="UTF-8" ?>
<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.gavyn-mckenzie.example.app"
	version 	= "1.0.0">

	<name>Minimum starter app</name>

	<description>
		A minimal set of PhoneGap files
	</description>

	<author href="http://gavmck.github.com"
		email="heythere@gavyn-mckenzie.co.uk">
		Gavyn McKenzie
	</author>

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />

</widget>